%gradient-background {
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    color: transparent;
}
