%gradient-background {
    display: inline-block;
    color: $color-primary;
    
    @supports   (((background-clip: text) or
    (-webkit-background-clip: text) or
    (-ms-background-clip: text)) and
    (-webkit-text-fill-color: transparent)) {
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        -ms-background-clip: text;
        color: $color-primary;
        -webkit-text-fill-color: transparent;
    }
}

/* Helps to avoid shakiness in animations */
%backface-visibility-hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

%center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
